* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    margin: 0% 20% 0% 20%;
    background-color: #d4d4d4;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 1% 0%;
}

.logo {
    width: 3.5%;
    text-align: left;
}

nav {
    
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-grow: 1;
}

nav a {
    font-size: 90%;
    color: #2e3872;
    padding: 90%;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1%;
}

nav a:hover {
    background-color: #fca311;
    color: #2e3872;
    transition: all 0.5s ease;
}


body header nav a.home {
    color: #2e3872;
    padding: 0.5% 2.5%;
    margin-right: 1%;
    border-radius: 50px;
    border: 2px solid #2e3872;
    display: inline-block;
    min-width: 7%;
}

body header nav a.activity {
    color: #2e3872;
    padding: 0.5% 2%;
    margin-right: 1%;
    border-radius: 50px;
    border: 2px solid #2e3872;
}

body header nav a.music {
    color: #2e3872;
    padding: 0.5% 2.5%;
    border-radius: 50px;
    border: 2px solid #2e3872;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #fca311;
    text-shadow: 0 0 1px #2e3872, 0 0 1px #2e3872, 0 0 1px #2e3872, 0 0 1px #2e3872;    stroke-width: 2px;
    text-align: center;
    padding: 5px 30px;
    margin: 20px;
    border-radius: 20px;
    background: repeating-linear-gradient(
  45deg,
  #d4d4d4,
  #d4d4d4 7px,
  #d4d4d4 6px,
  #d4d4d4 6px,
  #465298 8px
);
}

.container {
    margin: 0% 0% 15% 0%;
    border-top: 2px solid #2e3872;
    border-bottom: 2px solid #2e3872;
    border-radius: 30px;
}



h2 {
    font-family: 'Oswald', sans-serif;
    color:#2e3872;
}

h3 {
    color:#2e3872;
    border: 1px solid #2e3872;
    border-radius: 30px;
    margin: 0% 40% 2% 40%;
    padding: 0.5% 0% 0.5% 0%;
    text-align: center;
}


iframe {
    width: 100%;
    height: 200;
}

.jid {
    margin: 0% 0% 8% 0%;
    padding: 0% 0% 5% 0%;
    border-bottom: 2px solid #fca311;
}


.jid img {
    width: 100%;
    border-radius: 20px;
}

.jid img:hover {
    width: 100%;
    border-radius: 20px;
    border: 30px #fca311 solid;
    transition: all 0.3s ease;
    background: repeating-linear-gradient(
  45deg,
  #d4d4d4,
  #d4d4d4 7px,
  #d4d4d4 6px,
  #d4d4d4 6px,
  #2e3872 8px
);
}



.mick {
    margin: 0% 0% 8% 0%;
    padding: 0% 0% 5% 0%;
    border-bottom: 2px solid #fca311;
}

.mick img{
    width: 100%;
    border-radius: 20px;
}

.mick img:hover {
    width: 100%;
    border-radius: 20px;
    border: 30px #fca311 solid;
    transition: all 0.3s ease;
    background: repeating-linear-gradient(
  45deg,
  #d4d4d4,
  #d4d4d4 7px,
  #d4d4d4 6px,
  #d4d4d4 6px,
  #2e3872 8px
);
}



.dragon {
    margin: 0% 0% 8% 0%;
    padding: 0% 0% 5% 0%;
    border-bottom: 2px solid #fca311;
}

.dragon img{
    width: 100%;
    border-radius: 20px;
}





.playlists {
    background-color: #cccbcb;
    text-align: center;
    border-radius: 20px;
    padding: 2% 0% 1% 0%;
}

.playlists p {
    font-size: 120%;
    color:#2b427a;
    margin: 0% 12% 2% 12%;
}

.spotify {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-evenly;
}

.spotify iframe{
    width: 46%;
    height: 400px;
}

.text {
    text-align: center;
    margin: 0% 12% 0% 12%;
    color:#2b427a;
}

.text p {
    margin: 2% 0% 0% 0%;
    font-size: 120%;
}

.favoriteartists {
    padding: 1%;
    /* border-top: 2px solid #14213d;
    border-bottom: 2px solid #14213d;
    border-radius: 30px;  */
}

.arrow {
    border: solid #fca311;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 200% 200% ;
    border-radius: 7%;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    text-align: center;
  }

  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 2% 10% 5% 4%;
  }
  